@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
  Decode viewstate
</h2>
@using (Html.BeginForm())
{
    @Html.TextArea("value", new { @cols = 80, @rows = 10 })
    <input type="submit" value="submit" />
}
<h3>
  Raw Base64
</h3>
<pre>
  @ViewData["rawBase64"]
</pre>
<h3>
  Raw los
</h3>
<pre>
    @ViewData["rawLos"]
  </pre>
<h3>
  Raw XmlControlState
</h3>
<pre>
  @ViewData["rawXmlControlState"]
</pre>
<h3>
  Raw Xml
</h3>
<pre>
  @ViewData["rawXml"]
</pre>