@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
  Cross-site scripting (XSS)
</h1>
<h2>Documentation</h2>
<h3>
  Short explanation:
</h3>
<p>
  Not sanitazing your user input when displaying it.
</p>
<p>
  It's very common. About 80% of all security vulnerabilities documented by Symantec
  as of 2007 (wikipedia).
</p>
<h3>
  What can be stolen?
</h3>
<ul>
  <li>Cookie information, for instance: session cookie.</li>
  <li>
    Any information on your pages that the affected users can reach. A scripter might
    use ajax in order to access pages without the vulnerability and send that information
    to a remote server.
  </li>
</ul>
<h3>
  What other things might a malicious scripter do?
</h3>
<ul>
  <li>
    Anything that your user can do with a GET or POST. For instance: Insert/Update/Delete
    of products.
  </li>
</ul>
<h3>
  Links:
</h3>
<ul>
  <li><a href="http://www.bindshell.net/tools/beef/">BeEF: browser exploitation framework</a></li>
  <li><a href="https://www.asp.net/aspnet/overview/web-development-best-practices/what-not-to-do-in-aspnet-and-what-to-do-instead#validation">asp.net: Request Validation</a></li>
</ul>
<h2>Trying it out</h2>
<ul>
  <li>
    @Html.ActionLink("Show encoded html (razor)", "ShowEncoded", "XSS")
  </li>
  <li>
    @Html.ActionLink("Show unencoded html (razor)", "ShowUnEncoded", "XSS")
  </li>
  <li>
    @Html.ActionLink("Cross domain communication", "CrossDomain", "XSS")
  </li>
  <li>
    @Html.ActionLink("Markdown", "Markdown", "XSS")
  </li>
  <li>
    @Html.ActionLink("BBCode", "BBCode", "XSS")
  </li>
  <li>
    @Html.ActionLink("Adsafe", "Adsafe", "XSS")
  </li>
</ul>